:root {
  --mosaic-color: #abb3bf;
  --mui-blue: #2885ff;

  /* IntervalView content heights */
  --interval-selection-height: calc(10px + 1.875rem);
  --hr-height: 3px;
  --table-chips-container-height: 42px;
  --table-height: 32vh;
  --collapsible-height: calc(
    var(--table-height) + var(--table-chips-container-height)
  );
  --geomap-container-height: calc(
    100% - var(--interval-selection-height) - var(--collapsible-height) - 2 *
      var(--hr-height)
  );
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Header */
header * {
  user-select: none;
}
header h5 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* Chips */
.chip {
  margin-left: 0.4em !important;
}
.chip,
.chip > [class$="label"] {
  margin-top: 0.1rem !important;
}
.num-results-container {
  width: fit-content !important;
  max-width: fit-content !important;
}

/* react-select */
div[class$="control"] {
  min-height: unset !important;
}
div[class$="control"] div[class$="-indicatorContainer"] {
  padding: 0 4px !important;
}
div[class$="control"] div[id$="-placeholder"] {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}
div[id$="-listbox"] {
  overflow: visible;
  z-index: 99999999 !important;
}

/* react-mosaic */

.mosaic-window {
  height: 100%;
  width: 100%;
}
.mosaic-window-title {
  padding-left: 8% !important;
  overflow: visible !important;
}
.mosaic-window-body {
  padding: 1%;
  overflow: scroll !important;
}
.mosaic-controls-container {
  margin: auto 0.2em auto auto;
  cursor: pointer;
  color: var(--mosaic-color);
}
.mosaic-window-toolbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between !important;
  align-items: stretch;
}
.mosaic-window-toolbar-element {
  display: inline-block;
  width: fit-content;
  padding: 5px !important;
}
.mosaic-default-control {
  margin: 2px;
  width: 20px;
  height: 20px;
  bottom: 0 !important;
  color: white;
  background-color: lightgrey;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.25rem;
}
.mosaic-default-control:hover {
  color: gray;
}
.mosaic-default-control::before {
  font-family: FontAwesome;
  font-weight: bold;
  position: relative;
  bottom: 4px;
  right: 0.45px;
}
.close-button::before {
  content: "\00d7";
}
.expand-button::before {
  content: "\2922";
}

/* filter modal */
.filter-modal {
  width: 50% !important;
  max-width: 100% !important;
}
.filter-modal-content {
  display: flex !important;
  flex-direction: column;
}
.filter-modal .filter-row:nth-child(odd) {
  background: #f5f5f5;
}
.filter-modal .row {
  width: 80% !important;
  align-self: center !important;
}
.filter-modal input:invalid {
  border-color: red !important;
  box-shadow: 0 0 0 1px crimson !important;
}
.filter-modal input[type="tel"] {
  padding: 0 !important;
  background-color: white;
}
.filter-modal input[type="tel"] + div > button {
  padding-left: 0 !important;
  background-color: white;
}
.filter-modal .filter-input-container {
  max-width: 12.2em !important;
  width: 12.2em !important;
}
.filter-modal .filter-input-container > * {
  width: 100% !important;
}
.filter-modal .filter-input-container > input {
  box-sizing: border-box !important;
  border-radius: 4px !important;
  padding: 2px 8px !important;
  box-shadow: none !important;
}
.filter-modal .filter-input-container > input:focus:valid {
  box-sizing: border-box !important;
  border-color: var(--mui-blue) !important;
  box-shadow: 0 0 0 1px var(--mui-blue) !important;
}
.date-picker-container {
  background-color: white;
}
.date-picker-container button {
  background-color: unset !important;
}

.date-picker input:first-of-type {
  box-sizing: content-box !important;
  padding: 6px 0 2px 8px !important;
  vertical-align: bottom;
}
.fa-trash-can:hover,
.fa-circle-plus:hover {
  cursor: pointer;
  color: black;
}

.filter-modal form:invalid .btn-primary {
  opacity: 0.3;
  pointer-events: none;
}

/* Comparison View */
.plot-view-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.plot-view-child {
  display: inline-block;
  background-color: white;
  width: 100%;
}

.plot-pending-message {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outlier-scatter {
  height: var(--collapsible-height);
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
.scatter-container {
  flex: 1;
  min-height: 0;
}

.outlier-scatter-select {
  position: relative;
  top: 0.4rem;
  margin-bottom: 1rem;
}
.outlier-scatter-config {
  user-select: none;
}
.outlier-scatter-config-element {
  display: inline-block;
}
.slider-box {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 90%;
}
.slider-box-element {
  text-align: right;
}
.slider-box-element p {
  margin-right: 1rem;
}
.slider-description {
  font-size: smaller !important;
}

/* IntervalViews */
.interval-mosaic {
  white-space: nowrap;
  height: 100%;
}
.interval-mosaic .mosaic-window-toolbar {
  display: none !important;
}
.interval-mosaic .mosaic-tile {
  margin: 0 !important;
}
.interval-mosaic .mosaic-root {
  inset: 0;
}
.interval-mosaic .mosaic-root .mosaic-tile div .mosaic-window {
  border-radius: 0 !important;
}
div[id^="interval"] .mosaic-window-body {
  padding: 0;
}

.interval-mosaic .collapse {
  height: var(--collapsible-height) !important;
  overflow: auto;
}

.interval-mosaic .container {
  height: var(--table-height) !important;
  overflow: auto;
}

.interval-mosaic hr {
  margin: 0;
  height: var(--hr-height);
  border: none;
  background-color: var(--mosaic-color);
  opacity: 1;
}

.vis-chips-container,
.interval-selection {
  background-image: linear-gradient(to right, white, white),
    linear-gradient(to right, white, white),
    linear-gradient(to right, rgba(0, 0, 20, 0.4), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(0, 0, 20, 0.4), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}
.interval-mosaic .MuiChip-outlined {
  font-weight: bold !important;
}

/*Table*/
.interval-mosaic table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.interval-mosaic thead {
  background: #bbb;
  margin: 0;
  position: sticky;
  top: 0;
}

.interval-mosaic th {
  position: relative;
  font-weight: bold;
  text-align: center;
}
.interval-mosaic th,
.interval-mosaic td {
  box-shadow: 0 0 0 1px lightgray;
  white-space: nowrap;
}
.interval-mosaic td {
  border: 1px solid gray;
  overflow-x: clip;
  padding: 0.25rem;
}

.interval-mosaic tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.03);
}
.interval-mosaic tbody tr:hover {
  background: rgba(0, 0, 0, 0.06);
}
.interval-mosaic tbody tr {
  cursor: pointer;
}

/*Table column resizer*/
.resizer {
  position: absolute;
  right: -2px;
  top: 0;
  height: 100%;
  width: 4px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  background: black;
  opacity: 0;
  z-index: 999999999;
}
.resizer:hover,
.resizer.isResizing {
  opacity: 1;
}
.table-chip {
  margin: 5px 0 !important;
}

/* Leaflet maps */
.flow-map {
  opacity: 0;
  visibility: hidden;
}
.fadable {
  transition: visibility 0.3s, opacity 1s;
}
.overview-map
  .leaflet-pane.leaflet-overlay-pane
  > svg
  > g
  > g
  > g[class$="g-point"]
  path {
  cursor: pointer !important;
}

/* Map controls */
.leaflet-control-container > div > * {
  margin: 0 !important;
}
.leaflet-control-attribution {
  display: none;
}
.leaflet-control-container .map-back-button {
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 5px !important;
}
.legend {
  padding: 5px !important;
  font: 14px/16px Arial, Helvetica, sans-serif !important;
  background: #f8f9faaa !important;
  border-top-left-radius: 5px !important;
  width: 85px !important;
}
.legend .legendCircle {
  border-radius: 50% !important;
  border: 1px solid black;
}

/* Global Scatter */
.hidden {
  display: none;
}

.interval-picker-button {
  margin: 5px 10px;
}
.interval-picker-modal {
  width: fit-content !important;
}

.select-interval-view-modal > div {
  width: fit-content !important;
}
.select-interval-view {
  display: flex;
  justify-content: space-evenly;
}
.select-interval-view button {
  display: inline-block;
  margin: 10px;
}

.timeline-button {
  margin: 5px 10px;
}

.slider-description {
  display: inline !important;
}

.MuiSlider-root {
  float: right !important;
  width: calc(100% - 8rem) !important;
  margin-bottom: 0.8rem !important;
}

.MuiSlider-markLabel {
  line-height: 0.5 !important;
}

.interval-selection {
  height: var(--interval-selection-height) !important;
  overflow: scroll hidden;
}

.geomap-container {
  height: var(--geomap-container-height) !important;
}
